:root {
  --dark: #222;
  --steel: #efefef;
  --gray: #bbb;
  --cloud: #fcfcfc;
  --blue: #2d77ff;
  --yellow: #ffcf10;
  --radius: 4px;
  --display-font-size: 2em;
}

html {
  font-family: sans-serif;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px 0;
  width: 12em;
  padding: 4px;
  font-size: 1.2em;
  background-color: var(--steel);
  border-radius: var(--radius);
}

#calculator #display,
#calculator button {
  border: 1px solid var(--gray);
  border-radius: var(--radius);
}

#calculator #display {
  width: 100%;
  padding: 4px 0;
  height: var(--display-font-size);
  line-height: var(--display-font-size);
  font-size: var(--display-font-size);
  background-color: white;
}

#calculator button {
  width: 24%;
  aspect-ratio: 1.5;
  color: var(--dark);
  background-color: var(--cloud);
  transition: all .2s;
}

#calculator button:active {
  border-color: transparent;
}

#calculator #operate {
  color: white;
  background-color: var(--blue);
}

#calculator #delete {
  color: white;
  background-color: var(--yellow);
}